tqdm
notebook==7.1.2
openai
elasticsearch
scikit-learn
pandas
mesop
langchain 
langchain_community 
langchain-openai 
tiktoken 
chromadb 
pypdf 
datasets 
ragas
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability